extends layout

block content
  h1= title
  p #{title}
  form(method='post')
    input(type='text', name='title', required='')
    br
    br
    textarea(rows='4', cols='50', name='content', required='')
    br
    br
    input(type='text', name='tags')
    br
    br
    input(type='submit', name='Submit')
